<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 p-0 footer-left">
          <p class="mb-0"><%= general.footer_content %></p>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>